.container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    height: 600px;
    width: 600px;
    
  }

.conta{

    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px; 
    
    }

    .logo{

        display: flex;
        flex-direction: column;
        align-items: center;          
        
        }

    .criarConta{

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;          
        
        }



        